{
  "presets": [ 
    [ "@babel/preset-env",
     { "targets": { "node": 12 } } ],
     [
      "@babel/preset-typescript"
    ],
    "@babel/preset-flow"],
  "plugins": ["istanbul"]
}

// add typescript and babel
// build script should run 